.Answers{
    list-style: none;
    margin: 3%;
    padding: 1;
    width: 60%;
    left: -20%; /* or right 50% */
}
.Answers li{
    padding: 12px;
    border-left: 4px solid #FF3B3B;
    /*background-color: #bbb;*/
    border: 2px solid rgb(80, 32, 32);
    margin: 0 0 15px;
    border-radius: 25px;

}
.Answers li:hover{
    cursor: pointer;
    background-color: #a2a2a2;
}
.Answers .correct,
.Answers .correct:hover {
    background-color: #1db900;
    border-left: 4px solid #0f6300;
    color: #fff;
}
.Answers .incorrect,
.Answers .incorrect:hover {
    background-color: #ec0000;
    border-left: 4px solid #FF3B3B;
    color: #fff;
}
.Answers[disabled] {
    pointer-events: none;
    opacity: 0.7;
}